/* RESET CƠ BẢN */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* BODY */
body {
  background: #f4f6f8;
  color: #333;
}

/* HEADER */
header {
  background: #2c3e50;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* NAV */
nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

nav a {
  background: #fff;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

nav a:hover {
  background: #3498db;
  color: #fff;
  transform: translateY(-4px);
}

/* MAIN */
main {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
}

/* FORM */
form {
  max-width: 500px;
  margin: auto;
}

input,
textarea,
button {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #2980b9;
}

/* MESSAGE */
.success {
  color: green;
  text-align: center;
}

.error {
  color: red;
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #ddd;
  margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }
}
